// Small tablets and large smartphones
$sm: 576px;
// Small tablets
$md: 768px;
// Tablets and small desktops
$lg: 992px;
// Large tablets and desktops
$xl: 1200px;

@mixin sm {
  @media (min-width: #{$sm}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
