.btn-wrapper {
  border-radius: 4px;
  background: rgb(92 167 61);
  color: #fff;
  cursor: pointer;
  border: none;
  &-medium {
    font-size: 18px;
    padding: 10px 12px;
  }
  &-small {
    font-size: 16px;
    padding: 8px 12px;
  }
}
