.home-wrapper {
  padding: 96px 64px 0;

  .container {
    background: none;
    // backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.1);
    max-height: 85vh;
    overflow-y: scroll;
    row-gap: 48px;
  }
}
