.card {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.05)
  );
  max-height: 550px;
  max-width: 300px;
  flex: auto;
  box-shadow: 0px 5px 9px rgb(139, 139, 139);
  z-index: 1;
  backdrop-filter: blur(4px);

  border-radius: 8px;

  &-content {
    padding: 8px 12px 0;
  }

  &-image {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-size: cover !important;
  }

  &-name {
    padding: 12px;
    position: absolute;
    top: 240px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  &-icon {
    top: 15px;
    left: 45px;
    position: absolute;
    cursor: pointer;
    transition: fill 0.5s;
  }

  &-button {
    bottom: 0;
  }

  .info {
    padding: 22px;
    color: #fff;
  }
}

.more-info {
  position: absolute;
  background: #fff;
  bottom: 0;
  animation: open 0.4s forwards;
  &-content {
    padding: 12px 16px;
  }
}
.pt-1 {
  padding-top: 8px;
}
.pt-2 {
  padding-top: 12px;
}

.subject {
  padding: 8px 4px 8px 16px;
}

.value {
  padding: 8px 16px 8px 4px;
}

.episode {
  padding: 8px 0 8px 32px;
  .date {
    font-size: 13px;
    padding: 4px 0;
  }
}

@keyframes open {
  from {
    height: 0;
    background: rgba(255, 255, 255, 0);
  }
  50% {
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    height: 100%;
    border-radius: 8px;
  }
}
