.app-container {
  min-height: 100vh;
  background: url('../assets/images/bg.png') center repeat;
  background-size: cover;
}
.footer {
  background: url('../assets/images/footer.png') center no-repeat;
  height: 10vh;
}
