.header-wrapper {
  padding: 8px 64px;
  width: calc(100% - 128px);
  backdrop-filter: blur(6px);
  .logo {
    background: url('./../../assets/images/logo.jpeg') no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
  .username {
    color: #fff;
    margin: auto 0;
    font-size: 18px;
  }
}
